  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: 1px solid rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1) ;
    --surface-color-hover: rgba(0, 0, 0, 0.5);
    --highlight-color: rgba(255, 255,255, 0.2);
    --buton-shape: url(./assets/moon.svg)
}
.light {
      --text-color: black;
      --bg-url: url(./assets/bg-mobile-light.jpg);
      --stroke-color: 1px solid rgba(0, 0, 0, 0.5);
      --surface-color: rgba(0, 0, 0, 0.05);
      --surface-color-hover: rgba(0, 0, 0, 0.5);
      --highlight-color: rgba(0, 0,0, 0.2);
      --buton-shape: url(./assets/sun.svg)
}


body{ 
    background: var(--bg-url) no-repeat top center/cover;
}
body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color)
}

#container{
    
    width: 360px;
    margin: 56px auto 0px auto; 
    padding: 0 24px;
    
}

#profile{
        text-align: center;
        padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 20px;
   margin-top: 8px;
}
  /*Links da minha Lista*/

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

ul li a { 
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    background: var(--surface-color);
    border-radius: 10px;
    border: var(--stroke-color);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.30s ;
}

ul li a:hover {

    background-color: var(--surface-color-hover);
    border: 1px solid var(--text-color);

}

#social-link{
    display: flex;
    padding: 16px 0;
    font-size: 24px;
    justify-content: center;

    
}
#social-link a {
    display: flex;
    
    align-items: center;
    justify-content: center;
    padding: 16px;
}
#social-link a:hover{
    background-color: var(--highlight-color);
    
    border-radius: 50%;
}
footer {
    padding: 8px 0;
    text-align: center;
    font-size: 14px;
}
#switch {
    position: relative;
    width: 64px;
  
    margin: 4px auto;
    margin-bottom: 28px;

 
}
#switch button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border:0;
    background: white var(--buton-shape) no-repeat center;
    
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    

}
.light #switch button { 
    right: 0;
    left: initial;
}
#switch span { 
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 9999px;}
